html {
  
  font-size: 14px;
}
*{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.navbar-bg{
  background-color: #2461e4;
}
.bg-common{
  background-image: linear-gradient(#2461e4,#204dae,#1b3c81,#193367);
}
.bg-footer{
  background-color: #193367;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}