@model flightclient.Models.Suhasinibooking

@{
    ViewData["Title"] = "Book";
    Layout="~/Views/Shared/Homelayout.cshtml";
   
}

<h1>Book Flight</h1>


<hr />
<div class="row" style="background-color: black;padding:25px; margin:25px; border-radius:10px;" >
    <div class="" style=" display:flex; flex-direction:column;align-items:center;justify-content:center;">
        <form asp-action="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Bookingid" class="control-label"></label>
                <input asp-for="Bookingid" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;" readonly />
                <span asp-validation-for="Bookingid" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Customerid" class="control-label"></label>
                <input asp-for="Customerid" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;" readonly/>
                <span asp-validation-for="Customerid" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Bookingname" class="control-label"></label>
                <input asp-for="Bookingname" class="form-control"  style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;"/>
                <span asp-validation-for="Bookingname" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Flightid" class="control-label"></label>
                <input asp-for="Flightid" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;" readonly />
                <span asp-validation-for="Flightid" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Bookingdate" class="control-label"></label>
                <input asp-for="Bookingdate" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;"/>
                <span asp-validation-for="Bookingdate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Bookingphone" class="control-label"></label>
                <input asp-for="Bookingphone" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;"/>
                <span asp-validation-for="Bookingphone" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Bookingaddress" class="control-label"></label>
                <input asp-for="Bookingaddress" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;"/>
                <span asp-validation-for="Bookingaddress" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Bookingtotalmembers" class="control-label" ></label>
                <input asp-for="Bookingtotalmembers" class="form-control" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;" />
                <span asp-validation-for="Bookingtotalmembers" class="text-danger"></span>
            </div>
            
            
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;margin-top:7px;">
                <input type="submit" value="BOOK" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
