@model flightclient.Models.Suhasiniflight

@{
    ViewData["Title"] = "GetFlightDetail";
    Layout="~/Views/Shared/Homelayout.cshtml";
}

<h1>Get Flight Details</h1>
<style>
    .dropdown option{
        color: black;
    }
</style>

<hr />
<div class="row" style="background-color: black;padding:25px; margin:25px; border-radius:10px;">
    <div class="" style=" display:flex; flex-direction:column;align-items:center;justify-content:center;">
        <form asp-action="GetFlightDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Flightsource" class="control-label" ></label>
                
                <select class="dropdown" style="color:black;padding-bottom: 5px;padding-top:5px; margin-top:5px;margin-bottom:5px;" asp-for="Flightsource" asp-items="@ViewBag.Flightsources"></select>
                <span asp-validation-for="Flightsource" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Flightdestination" class="control-label"></label>
                <select class="dropdown" style="color:black;padding-bottom: 5px;padding-top:5px;margin-top:5px;margin-bottom:5px;" asp-for="Flightdestination" asp-items="@ViewBag.Flightdestinations"></select>
                <span asp-validation-for="Flightdestination" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
                <label asp-for="Flightdate" class="control-label"></label>
                <input type="date" style="color:black;padding-bottom: 5px;padding-top:5px;margin-top:5px;margin-bottom:5px;" asp-for="Flightdate" class="form-control" />
                <span asp-validation-for="Flightdate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column;align-items:center;justify-content:center;margin-top:7px;">
                <input type="submit" value="SEARCH" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
