@model flightclient.Models.Suhasinicustomer

@{
    ViewData["Title"] = "Register";
    Layout="~/Views/Shared/Loginlayout.cshtml";
}

<h3 style="margin-top:25px">REGISTER</h3>


<hr />
<div class="row" style="margin-top:-25px;">
    <div class="">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Customeremail" class="control-label" style="padding-bottom: 5px;"></label>
                <input asp-for="Customeremail" class="form-control" />
                <span asp-validation-for="Customeremail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customerpw" class="control-label"  style="padding-bottom: 5px;padding-top:5px;"></label>
                <input asp-for="Customerpw" type="password" class="form-control" />
                <span asp-validation-for="Customerpw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customerusername" class="control-label"  style="padding-bottom: 5px;padding-top:5px;"></label>
                <input asp-for="Customerusername" class="form-control" />
                <span asp-validation-for="Customerusername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customerlocation" class="control-label"  style="padding-bottom: 5px;padding-top:5px;"></label>
                <input asp-for="Customerlocation" class="form-control" />
                <span asp-validation-for="Customerlocation" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; margin:auto; flex-direction:column; padding-bottom: 5px;padding-top:15px;">
                <input type="submit" value="SIGNUP" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
